<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
</head>

<body style="background-color: grey;">

  <section class="vh-100">
    <h1 style="color: black; text-align: center;padding-top: 50px;padding-bottom: 0px;margin-bottom: -50px;">Login</h1>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">Login</h3>

              <form action="" method="post">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input type="text" id="typeEmailX-2" name ="username" class="form-control form-control-lg" placeholder="Username" />
  
                </div>
  
                <div class="form-outline mb-4">
                  <input type="password" id="typePasswordX-2" name ="password" class="form-control form-control-lg"
                    placeholder="Password" />
                </div>
                <div class="form-check d-flex justify-content-start mb-4">
                   <input type="checkbox" onclick="myFunction()">
                   <label class="form-check-label"> Show Password </label>
                </div>
                <input class="btn btn-primary btn-lg btn-block" style="background-color:black;"
                  type="submit" value="Login"></input>
              </form>

              <br>
              <br>

              {% for message in messages %}
              <p style="color:black">{{message}}</p>
              {% endfor %}
              <p>Don't have an account?</p>
              <a href="{% url 'signup' %}" type="submit">Sign
                up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    function myFunction() {
      var x = document.getElementById("typePasswordX-2");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>
</body>

</html>